<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/semantic-ui/semantic.css') }}">
        {% endblock %}
        {% block javaScript %}
            <script src="{{ asset('assets/jquery/jquery-3.3.1.js') }}"></script>
            <script src="{{ asset('assets/layui/layui.js') }}"></script>
            <script src="{{ asset('assets/semantic-ui/semantic.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% block bodyStyle %} {% endblock %}>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
